<!-- Footer -->
<footer class="color4">
	<div class="container-md">
		<div class="text-light pt-5 pb-2">
			<p>The Republic of Kazakhstan, Astana city 020000, Mangilik El Avenue, ะก1, Astana IT University</p>
			<p>Email: <a href="mailto:ainolhuawei@gmail.com" class="link-light">ainolhuawei@gmail.com</a></p>
			<p>Phone: <a href="tel: +7(777) 333 22 11" class="link-light">+7(777) 333 22 11</a></p>
			<p>Sultan Kudaybergenov (IT-2202)</p>
			<p class="text-center">&copy; 2024 All Rights Reserved.</p>
		</div>
	</div>
</footer>