<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="icon" type="image/x-icon" href="/img/logo.png">
	<title>AutoHub</title>
</head>
<body>

	<%- include('./partials/header.ejs') %>
	
	<main id="car">
		<div class="container my-5">
			<div class="space"></div>
			<div class="row">
				<h2 class="mb-4">Add new Car</h2>
				<form action="/cars" method="post" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="carName" class="form-label">Car Name</label>
						<input type="text" class="form-control" name="name" placeholder="Enter car name" required>
					</div>
					<div class="mb-3">
						<label for="carDescription" class="form-label">Description</label>
						<textarea class="form-control" name="description" rows="3" placeholder="Enter car description" required></textarea>
					</div>
					<div class="mb-3">
						<label for="carBrand" class="form-label">Brand</label>
						<select name="brand" class="form-select">
							<option value="" selected>Choose brand</option>
							<option value="BMW">BMW</option>
							<option value="Toyota">Toyota</option>
							<option value="Mercedes">Mercedes</option>
							<option value="Audi">Audi</option>
							<option value="Porsche">Porshe</option>
							<option value="Lexus">Lexus</option>
							<option value="Ferrari">Ferrari</option>
							<option value="Tesla">Tesla</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="carType" class="form-label">Type of car</label>
						<select name="type" class="form-select">
							<option value="" selected>Choose type of car</option>
							<option value="Sedan">Sedan</option>
							<option value="Luxury">Luxury</option>
							<option value="Sport Car">Sport Car</option>
							<option value="Coupe">Coupe</option>
							<option value="Pickup Truck">Pickup Truck</option>
							<option value="Wagon">Wagon</option>
						</select>
					</div>
					<div class="mb-3">
						<label for="carPrice" class="form-label">Price</label>
						<input type="number" class="form-control" name="price" placeholder="Enter car price" required>
					</div>
					<div class="mb-3">
						<label for="ownerName" class="form-label">Owner's Name</label>
						<input type="text" class="form-control" name="ownerName" placeholder="Enter car owner name" required>
					</div>
					<div class="mb-3">
						<label for="phoneNumber" class="form-label">Owner's phone number</label>
						<input type="text" class="form-control" name="phoneNumber" placeholder="Enter car owner phone number" required>
					</div>
					<div class="d-flex mb-3">

						<label for="img1">Image 1:</label>
						<input type="file" name="img1" id="img1" accept="image/*"><br><br>
						<label for="img2">Image 2:</label>
						<input type="file" name="img2" id="img2" accept="image/*"><br><br>
						<label for="img3">Image 3:</label>
						<input type="file" name="img3" id="img3" accept="image/*"><br><br>
					</div>
					
					<button type="submit" class="btn btn-primary">Add car</button>
				</form>
			</div>
		</div>
		
	</main>
	
	<!-- JavaScript -->
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/jquery-3.7.1.min.js"></script>

	<%- include('./partials/footer.ejs')%>
</body>
</html>